datetime
psycopg2
psycopg2-binary
google-api-python-client
google-auth
google-auth-oauthlib
uuid
pdfplumber
pptx
docx
tiktoken
transformers
torch
accelerate
sentencepiece
hf_xet # or huggingface_hub[hf_xet]
sentence-transformers
"unstructured[pdf, docx, pptx]"
scikit-learn
